@import "tailwindcss";

@theme {
  --color-drpepper-maroon: #711F25;
  --color-drpepper-silver: #C0C0C0;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-drpepper-maroon text-white font-sans antialiased;
  }
}
